/* about me page css */
.aboutmecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  max-width: 500px;
  padding: 20px;
  position: relative;
}

.aboutContainer {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #4C4A4A;
  color: white;
  padding: 20px;
  border-color: #B8FBFF;
  border-style: solid;
  border-width: 6px;
  border-radius: 50px;
  max-width: 380px;
  text-align: center;
}

.aboutTitle {
  margin: 0;
  padding: 20px 20px 0 20px;
  color: #B8FBFF;
  font-family: 'Georama', sans-serif;
}

.aboutDescription {
  padding: 20px;
  line-height: 2.2rem;
  font-family: 'Merriweather Sans', sans-serif;
}


/* Media Queries for Tablet and Desktop Screens */
@media (min-width: 768px) {
  .aboutmecontainer {
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    position: relative;
  }

  .aboutContainer {
    padding: 50px;
    margin-left: 0; /* Remove left margin to center the container */
    width: 600px;
    max-width: 600px;
  }

  .aboutDescription {
    padding: 20px;
    line-height: 2.0rem;
    font-size: 1.2rem;
    font-family: 'Merriweather Sans', sans-serif;
  }
}

@media (min-width: 1024px) {
  .aboutmecontainer {
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    position: relative;
  }

  .aboutContainer {
    padding: 50px;
    margin-left: 10px;
    margin-bottom: 200px;
    width: 800px;
    max-width: 800px;
    border-width: 12px;
  }

  .aboutTitle {
    margin: 0;
    padding: 20px 20px 0 20px;
    color: #B8FBFF;
    font-size: 3.0rem;
    font-family: 'Georama', sans-serif;
  }
  
  .aboutDescription {
    padding: 10px;
    line-height: 2.2rem;
    font-size: 1.2rem;
    font-family: 'Merriweather Sans', sans-serif;
    max-height: 600px;
  }
}